<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}CyberNews Tracker{% endblock %}
        </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>CyberNews Tracker
            <nav>
                <ul>
                    <li>
                        <a href="/">Dashboard</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        <footer></footer>
        <script>
            document.querySelector("footer").textContent = `© ${new Date().getFullYear()} CyberNews Tracker`;
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>