<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            CyberNews Tracker
        </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>CyberNews Tracker</header>
        <nav>
            <ul>
                <li>
                    <a href=”/”>Dashboard</a>
                </li>
                <li>
                    <a href=”/login”>Login</a>
                </li>
                 <li>
                    <a href=”/admin”>Admin</a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
        <footer></footer>
        <script>
            document.querySelector("footer").textContent = `© ${new Date().getFullYear()} CyberNews Tracker`;
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>